@using Drutol.FigureRepository.BlazorApp.Util
@using MudBlazor
@using Blazored.LocalStorage
@using Drutol.FigureRepository.BlazorApp.Enums
@using Drutol.FigureRepository.BlazorApp.Interfaces.Figures
@using Drutol.FigureRepository.BlazorApp.Interfaces.Wallet
@using Functional.Maybe
@inherits LayoutComponentBase

@inject ISyncLocalStorageService LocalStorageService
@inject IWalletProvider WalletProvider
@inject IFigureProvider FigureProvider

<MudThemeProvider Theme="_theme" @bind-IsDarkMode="@DarkMode"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<style>
    .WalletButton {
        width: 250px;
    }

    .WalletButton span {
        flex-grow: 1;
        text-align: center;
    }
</style>

<MudLayout>
    <MudAppBar Elevation="2">
        <MudHidden Breakpoint="Breakpoint.SmAndUp" @bind-IsHidden="IsExtraSmall">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@(e => DrawerToggle())"/>
            <div style="width: 10px"></div>
        </MudHidden>

        <MudImage Src="svg/logo/LogoWebThick.svg" Height="45"/>
        <div style="width: 10px"></div>
        <MudImage Src="@(DarkMode ? "svg/logo/LogoTextWhite.svg" : "svg/logo/LogoTextBlack.svg")" Height="40"/>
        <MudSpacer/>
        @if (WalletProvider.CurrentWallet.HasValue && WalletProvider.CurrentWallet.Value.SelectedAccount.HasValue)
        {
            var account = WalletProvider.CurrentWallet.Value.SelectedAccount.Value;
            <MudStack Spacing="0" Class="ml-4 mr-6">
                <MudText Typo="Typo.button" Color="Color.Primary">My Address</MudText>
                <MudTooltip Text="@account.Address">
                    <MudText Typo="Typo.body2" Class="mud-text-secondary">@account.Address.TruncateAddress()</MudText>
                </MudTooltip>
            </MudStack>
        }
        <MudMenu Size="Size.Large" PopoverClass="pr-2 pl-2" Class="mr-4" @ref="WalletMenu">
            <ActivatorContent>
                <MudButton StartIcon="@Icons.Material.Outlined.AccountBalanceWallet" Color="Color.Inherit" OnClick="CheckWalletAvailability">Wallet</MudButton>
            </ActivatorContent>
            <ChildContent>
                <MudStack>
                    @foreach (var connector in WalletProvider.Wallets.Values)
                    {
                        var metadata = WalletProvider.GetWalletMetadata(connector.WalletType);
                        @if (connector.IsWalletPresent)
                        {
                            <MudButton Class="WalletButton" OnClick="@(() => ConnectWallet(connector.WalletType))" Variant="Variant.Filled" Color="Color.Primary">
                                <MudImage Src="@metadata.IconUrl" Width="30" Height="30" Class="mr-2"/>
                                <MudText Typo="Typo.button">Connect @connector.WalletType.ToString()</MudText>
                                
                            </MudButton>
                        }
                        else
                        {
                            <MudButton Class="WalletButton" Href="@metadata.DownloadUrl" Variant="Variant.Filled" target="_blank">
                                <MudImage Src="@metadata.IconUrl" Width="30" Height="30" Class="mr-2"/>
                                <MudText Typo="Typo.button">Download @connector.WalletType.ToString()</MudText>
                            </MudButton>
                        }
                    }
                </MudStack>
            </ChildContent>
        </MudMenu>
        <MudIconButton Icon="@(DarkMode ? Icons.Material.Filled.LightMode : Icons.Material.Filled.DarkMode)" Color="Color.Inherit" OnClick="@(e => DarkMode = !DarkMode)"/>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="1" Variant="@(IsExtraSmall ? DrawerVariant.Responsive : DrawerVariant.Persistent)" Breakpoint="Breakpoint.Xs" DisableOverlay="false">
        <CascadingValue Value="_wrapper">
            <NavMenu/>
        </CascadingValue>
    </MudDrawer>
    <MudMainContent Style="height: 100%">
        <CascadingValue Value="_wrapper">
            @Body
        </CascadingValue>
    </MudMainContent>
</MudLayout>

@code {
        const string DarkModeStorageKey = "DarkMode";

    bool _drawerOpen = true;
    private bool _darkMode;
    private bool _isExtraSmall;
    private readonly ThemeWrapper _wrapper;

    public MudMenu WalletMenu { get; set; }

    public MainLayout()
    {
        _wrapper = new ThemeWrapper(_theme, () => DarkMode);
    }

    public bool IsExtraSmall
    {
        get => _isExtraSmall;
        set
        {
            _isExtraSmall = value;
            _drawerOpen = value;
        }
    }

    readonly MudTheme _theme = new()
    {
        Palette = new Palette
        {
            Primary = Colors.LightGreen.Default,
            Secondary = Colors.Yellow.Default,

            AppbarBackground = Colors.Shades.White,
            AppbarText = Colors.Shades.Black
        },
        PaletteDark =
        {
            Primary = Colors.LightGreen.Default,
            Secondary = Colors.Yellow.Default,

            DrawerBackground = "#202027"
        }
    };

    protected override async Task OnInitializedAsync()
    {        
        DarkMode = LocalStorageService.GetItem<bool>(DarkModeStorageKey);
        WalletProvider.WalletPromptRequest += WalletProviderOnWalletPromptRequest;

        await WalletProvider.Initialize();

        _ = Task.Run(async () =>
        {
            await FigureProvider.Initialize();
        });
    }

    private void WalletProviderOnWalletPromptRequest(object? sender, EventArgs e)
    {
        WalletMenu.OpenMenu(e);
    }

    private async Task ConnectWallet(WalletType walletType)
    {
        await WalletProvider.SwitchToWallet(walletType);
    }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    public bool DarkMode
    {
        get => _darkMode;
        set
        {
            _darkMode = value;
            LocalStorageService.SetItem(DarkModeStorageKey, value);
            StateHasChanged();
        }
    }

    private async Task CheckWalletAvailability()
    {
        await WalletProvider.CheckWalletAvailability();
    }
}