@inject NavigationManager NavManager

<!-- Primary Meta Tags -->
<title>DruFigures</title>
<meta name="description" content="@Description">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="@Url">
<meta property="og:title" content="DruFigures">
<meta property="og:description" content="@Description">
<meta property="og:image" content="@ImageUrl">

<meta property="og:image:type" content="image/jpg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="628">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="@Url">
<meta property="twitter:title" content="@Title">
<meta property="twitter:description" content="@Description">
<meta property="twitter:image" content="@ImageUrl">

@code {

    protected override void OnInitialized()
    {
        Url= NavManager.Uri.Replace(NavManager.BaseUri, "https://figure.drutol.com/");;
        base.OnInitialized();
    }

    [Parameter]
    public string Title { get; set; } = "DruFigures";

    [Parameter]
    public string Description { get; set; } = "Home of my figure garage kits for 3D printing. Check out renders, painted photos and get some for yourself!";

    [Parameter]
    public string Url { get; set; } 

    [Parameter]
    public string ImageUrl { get; set; } = "https://figure.drutol.com/images/Meta/DruFiguresMeta.webp";
}