@using Drutol.FigureRepository.BlazorApp.Interfaces
@using Drutol.FigureRepository.BlazorApp.Interfaces.Figures
@using MudBlazor
@using Drutol.FigureRepository.Shared.Models.Figure

@inject IFigureIconProvider FigureIconProvider;


<MudPaper Elevation="2" Square="false" Class="ml-8 mr-8 mt-4 pa-4">
    <div class="border-l-2 pl-3 mud-border-primary">
        <MudText Typo="Typo.h4">@Figure.Name</MudText>
        <MudText Typo="Typo.body2" Style="font-style: italic">@Figure.Flavour</MudText>
    </div>

    <MudText Typo="Typo.body2" Class="mt-2 ml-4">@Figure.Description</MudText>
    <MudGrid Class="mt-2" Style="flex-wrap: wrap" Justify="Justify.Center">
        <MudItem xs="6" Style="min-width: 200px">
            <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.Center">
                <MudIcon Icon="@FigureIconProvider.FigureCharacterIcon" Size="Size.Large" Color="Color.Surface"/>
                <MudStack Spacing="0">
                    <MudText Typo="Typo.button" Style="font-weight: 300" Color="Color.Primary" Align="Align.Center">
                        Character
                    </MudText>          
                    <MudText Typo="Typo.body2" Align="Align.Center">
                        <b>@Figure.FigureCharacter.NameEnglish</b>
                    </MudText>       
                    <MudText Typo="Typo.body2" Align="Align.Center">
                        @Figure.FigureCharacter.NameJapanese
                    </MudText>
                </MudStack>

            </MudStack>
        </MudItem>
        <MudItem xs="6" Style="min-width: 200px">
            <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.Center">
                <MudIcon Icon="@Icons.Material.Outlined.Castle" Size="Size.Large"/>
                <MudStack Spacing="0">
                    <MudText Typo="Typo.button" Style="font-weight: 300" Color="Color.Primary" Align="Align.Center">
                        Origin
                    </MudText>          
                    <MudText Typo="Typo.body2" Align="Align.Center">
                        <b>@Figure.FigureCharacter.OriginNameEnglish</b>
                    </MudText>       
                    <MudText Typo="Typo.body2" Align="Align.Center">
                        @Figure.FigureCharacter.OriginNameJapanese
                    </MudText>
                </MudStack>
            </MudStack>
        </MudItem>
    </MudGrid>
</MudPaper>

@code {
    [Parameter]
    public Figure Figure { get; set; }
}
