@page "/Figures/{Name}"

@using MudBlazor
@using Drutol.FigureRepository.BlazorApp.Infrastructure
@using Drutol.FigureRepository.BlazorApp.Models
@using Drutol.FigureRepository.BlazorApp.Models.Enums
@using Drutol.FigureRepository.BlazorApp.Util
@using Humanizer

@inject FigureProvider FigureProvider;
@inject FigureIconProvider FigureIconProvider;
@inject IJSRuntime JS;

<MudBreadcrumbs Items="_breadcrumbs"/>

@if (Figure != null)
{
    <MudGrid Style="width: 100% !important;" Spacing="0"> 
        <MudItem xs="12" sm="5" Class="pa-4 rounded" Style="@($"background-color: {Theme.Palette.BackgroundGrey}")">
            <MudText Typo="Typo.h4" Class="border-l-2 pl-4 mud-border-primary">Gallery</MudText>
            <MudCarousel Id="Carousel" Style="height: 456px" ShowBullets="false" ShowArrows="true" AutoCycle="false" TData="object" @bind-SelectedIndex="CarouselSelectedIndex">
                @foreach (var photo in GalleryItems)
                {
                    <MudCarouselItem Transition="Transition.Slide" Class="pa-8 d-flex justify-center rounded">
                        <MudImage Src="@photo.Url" ObjectFit="ObjectFit.Cover" Class="rounded" Elevation="3" Height="400" Style="@(!photo.IsPortraitOrientation ? $"width: 100%;" : "")" @onclick="() => OpenGallery(CarouselSelectedIndex)"/>
                    </MudCarouselItem>
                }
            </MudCarousel>
            <MudPaper Class="d-flex pa-2 mr-6 ml-6" Elevation="0" Square="true" Style="justify-content: center">
                <MudChipSet SelectedValues="@BoundGalleryKind"  SelectedValuesChanged="OnGalleryFilterChange" Filter="true" Mandatory="true">
                    @foreach (var kind in Enum.GetValues<FigureMediaKind>().Reverse())
                    {
                        @if (Figure.Media.Any(media => media.MediaKind == kind))
                        {
                            <MudChip Color="Color.Primary" Variant="Variant.Filled" Value="@kind">@kind.Str()</MudChip>
                        }
                    }
                </MudChipSet>
            </MudPaper>
            <MudGrid Spacing="0" Class="mt-2" Justify="Justify.Center" Style="max-height: 232px; overflow: auto; align-content: flex-start">
                @foreach (var photo in GalleryItems)
                {
                    <MudItem Class="ma-2" Style="width: 100px; height: 100px;">
                        <MudButton Class="d-flex" Style="padding: 0px"
                                   Variant="Variant.Filled" Color="Color.Primary"
                                   OnClick="() => OpenGallery(photo)"
                                   DisableElevation="false">
                            <MudImage Src="@photo.Url" ObjectFit="ObjectFit.Cover" Class="rounded align-center" Style="@($"object-position: {photo.Gravity.ToCssValue()}")" Width="100" Height="100"/>
                        </MudButton>
                    </MudItem>
                }
            </MudGrid>
        </MudItem>
        <MudItem xs="12" sm="7">
            <MudPaper Elevation="2" Square="false" Class="ml-8 mr-8" >
                <MudToolBar>
                    <MudMenu Size="Size.Large" PopoverClass="pr-2 pl-2">
                        <ActivatorContent>
                            <MudButton StartIcon="@Icons.Material.Outlined.AccountBalanceWallet" Color="Color.Inherit">Wallet</MudButton>
                        </ActivatorContent>
                        <ChildContent>
                            <MudButton OnClick="ConnectMetaMask">
                                <MudImage Src="svg/wallet/MetaMask.svg" Width="30" Height="30" Class="mr-2"/>
                                Connect MetaMask
                            </MudButton>  
                            <MudButton OnClick="ConnectMetaMask">
                                <MudImage Src="svg/wallet/Gme.svg" Width="30" Height="30" Class="mr-2"/>
                                Connect GameStop
                            </MudButton>
                        </ChildContent>
                    </MudMenu>
                    @if (EthereumAvailable)
                    {
                        <MudStack Spacing="0" Class="ml-4">
                            <MudText Typo="Typo.button" Color="Color.Primary">My Address</MudText>
                            <MudTooltip Text="@SelectedAccountAddress">
                                <MudText Typo="Typo.body2" Class="mud-text-secondary">@SelectedAccountAddress.TruncateAddress()</MudText>
                            </MudTooltip>
                        </MudStack>
                    }
                    <MudSpacer />
                    @if (IsFigureOwned)
                    {
                        <MudTooltip Text="You own at least one NFT of this figure.">
                            <MudFab Class="mr-2" StartIcon="@Icons.Filled.Check" Color="Color.Success" Size="Size.Small"/>
                        </MudTooltip>
                    }
                    else
                    {
                        <MudTooltip  Text="You don't own an NFT of this figure yet.">
                            <MudFab Class="mr-2" StartIcon="@Icons.Filled.AddShoppingCart" Color="Color.Info" Size="Size.Small"/>
                        </MudTooltip>
                    }
                    <MudMenu Size="Size.Large" AnchorOrigin="Origin.BottomCenter" PopoverClass="pr-2 pl-2">
                        <ActivatorContent>
                            <MudButton Disabled="!IsFigureOwned" StartIcon="@Icons.Material.Outlined.Download" Size="Size.Large">Download</MudButton>
                        </ActivatorContent>
                        <ChildContent>
                            <MudStack>
                                <MudButton StartIcon="@Icons.Filled.ViewInAr" OnClick="Download">Blender Scene</MudButton>
                                <MudButton StartIcon="@Icons.Filled.Print">Lychee Scenes</MudButton>
                                <MudButton StartIcon="@Icons.Filled.Print">STLs</MudButton>
                            </MudStack>
                        </ChildContent>
                    </MudMenu>
                </MudToolBar>
            </MudPaper>      
        
            <MudPaper Elevation="2" Square="false" Class="ml-8 mr-8 mt-4 pa-4" >
                <MudText Typo="Typo.h4" Class="border-l-2 pl-3 mud-border-primary">@Figure.Name</MudText>
                <MudText Typo="Typo.body2" Class="mt-2 ml-4">@Figure.Description</MudText>
                <MudGrid Class="mt-2">
                    <MudItem xs="6">
                        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.Center">
                            <MudIcon Icon="@FigureIconProvider.FigureCharacterIcon" Size="Size.Large" Color="Color.Surface"/>
                            <MudText Typo="Typo.body2" Align="Align.Center">@Figure.FigureCharacter.NameEnglish<br/>@Figure.FigureCharacter.NameJapanese</MudText>
                        </MudStack>
                    </MudItem>       
                    <MudItem xs="6">
                        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.Center">
                            <MudIcon Icon="@Icons.Outlined.Public" Size="Size.Large"/>
                            <MudText Typo="Typo.body2" Align="Align.Center">@Figure.FigureCharacter.OriginNameEnglish<br/>@Figure.FigureCharacter.OriginNameJapanese</MudText>
                        </MudStack>
                    </MudItem>
                </MudGrid>
            </MudPaper>

            <MudPaper Elevation="3" Class="ml-8 mr-8 mt-4 pa-4">
                <MudContainer Class="d-flex flex-wrap flex-row" Style="justify-content: center">
                    <MudItem xs="12" sm="7" Class="pb-4" Style="max-width: unset !important; flex-grow: 1 !important">
                        <MudGrid>
                            <MudItem xs="6">
                                <MudStack Spacing="2">
                                    <MudStack Row="true" AlignItems="AlignItems.Center">
                                        <MudIcon Icon="@Icons.Filled.Straighten"/>
                                        <MudText Typo="Typo.h6" Align="Align.Center">Dimensions</MudText>
                                    </MudStack>
                                    <MudText Typo="Typo.body2"><strong>Width:</strong> @Figure.FigureDimensions.Width.ToString("N0") mm</MudText>
                                    <MudText Typo="Typo.body2"><strong>Height:</strong> @Figure.FigureDimensions.Height.ToString("N0") mm</MudText>
                                    <MudText Typo="Typo.body2"><strong>Length:</strong> @Figure.FigureDimensions.Length.ToString("N0") mm</MudText>
                                    <MudStack Row="true" AlignItems="AlignItems.Center">
                                        <MudTooltip Text="Maximum single part dimension at the default scale.">
                                            <MudText Typo="Typo.subtitle1" Align="Align.Center">
                                                <span class="border-b-2 mud-border-primary pb-1">
                                                    Biggest Object
                                                </span>
                                            </MudText>
                                        </MudTooltip>
                                    </MudStack>
                                    <MudText Typo="Typo.body2"><strong>W/H/L:</strong> 
                                        @Figure.PrintDetails.BiggestPartDimension.Width.ToString("N0")/@Figure.PrintDetails.BiggestPartDimension.Height.ToString("N0")/@Figure.PrintDetails.BiggestPartDimension.Length.ToString("N0") mm
                                    </MudText>
                                </MudStack>
                            </MudItem>
                            <MudItem xs="6">
                                <MudStack Spacing="2">
                                    <MudStack Row="true" AlignItems="AlignItems.Center">
                                        <MudIcon Icon="@Icons.Filled.ViewInAr"/>
                                        <MudText Typo="Typo.h6" Align="Align.Center">Technicalities</MudText>
                                    </MudStack>
                                    <MudText Typo="Typo.body2"><strong>Blender Scene:</strong> @Figure.TechnicalStatistics.BlendFileSize.Bytes()</MudText>
                                    <MudText Typo="Typo.body2"><strong>Lychee Scenes:</strong> @Figure.TechnicalStatistics.LycheeScenesSize.Bytes()</MudText>
                                    <MudText Typo="Typo.body2"><strong>STLs:</strong> @Figure.TechnicalStatistics.StlsSize.Bytes()</MudText>
                                    <MudText Typo="Typo.body2"><strong>Vertices:</strong> @Figure.TechnicalStatistics.Vertices.ToMetric(MetricNumeralFormats.WithSpace, 2)</MudText>
                                    <MudText Typo="Typo.body2"><strong>Eyes:</strong> @Figure.EyeType.Str()</MudText>
                                    <MudTooltip Text="@Figure.NftDetails.TokenAddress">
                                        <MudText Typo="Typo.body2"><strong>Token:</strong> @Figure.NftDetails.TokenAddress.TruncateAddress()</MudText>
                                    </MudTooltip>
                                </MudStack>
                            </MudItem>
                            <MudItem xs="6">
                                <MudStack Spacing="2">
                                    <MudStack Row="true" AlignItems="AlignItems.Center">
                                        <MudIcon Icon="@Icons.Filled.Print"/>
                                        <MudText Typo="Typo.h6" Align="Align.Center">Printing</MudText>
                                    </MudStack>
                                    <MudText Typo="Typo.body2"><strong>Number of parts: </strong>
                                        @if (Figure.PrintDetails.MinNumberOfParts == Figure.PrintDetails.MaxNumberOfParts)
                                        {
                                            @Figure.PrintDetails.MaxNumberOfParts
                                        }
                                        else
                                        {
                                            <MudTooltip Text="Depending on your print max print volume there is variable number of parts prepared.">
                                                <span class="border-b-2 mud-border-primary">
                                                    @($"{Figure.PrintDetails.MinNumberOfParts} - {Figure.PrintDetails.MaxNumberOfParts}")
                                                </span>
                                            </MudTooltip>
                                        }
                                    </MudText>
                                    <MudText Typo="Typo.body2">
                                        <MudTooltip Text="Some parts were designed to be printed clear (translucent). Separate kind of resin required.">
                                            <span class="border-b-2 mud-border-primary">
                                                <strong>Clear Parts: </strong>
                                            </span>
                                        </MudTooltip>
                                        @Figure.PrintDetails.NumberOfClearParts
                                    </MudText>
                                    <MudText Typo="Typo.body2"><strong>Print Batches:</strong> @Figure.PrintDetails.NumberOfPrintBatches</MudText>
                                    <MudText Typo="Typo.body2"><strong>Resin Volume:</strong> @Figure.PrintDetails.PrintResinVolume ml</MudText>
                                </MudStack>
                            </MudItem>
                            <MudItem xs="6">
                                <MudStack Spacing="2">
                                    <MudStack Row="true" AlignItems="AlignItems.Center">
                                        <MudIcon Icon="@Icons.Filled.Link"/>
                                        <MudText Typo="Typo.h6" Align="Align.Center">External Links</MudText>
                                    </MudStack>
                                    @foreach (var link in Figure.ExternalLinks)
                                    {
                                        <MudLink Href="@link.Url">@link.Type.ToString()</MudLink>
                                    }
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </MudItem>
                    <MudItem xs="12" sm="5" Style="max-width: unset !important;">
                        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.Center">
                            <MudIcon Icon="@Icons.Filled.EventRepeat"/>
                            <MudText Typo="Typo.h6" Align="Align.Center">Timeline</MudText>
                        </MudStack>
                        <MudTimeline TimelinePosition="TimelinePosition.Alternate">
                            @foreach (var step in Figure.Timeline.OrderBy(entry => entry.Date))
                            {
                                <MudTimelineItem Size="@(step.Event switch{
                                                           FigureTimelineEvent.Publish=> Size.Large,
                                                           FigureTimelineEvent.ProjectInception => Size.Medium,
                                                           _=>Size.Small })"
                                                 Color="@(step.Event switch{
                                                            FigureTimelineEvent.Publish=> Color.Primary,
                                                            FigureTimelineEvent.ProjectInception => Color.Info,
                                                            _=> Color.Default })">
                                    <MudText Typo="Typo.button">@step.Event.Str()</MudText>
                                    <MudText Typo="Typo.body2" Class="mud-text-secondary">@step.Date</MudText>
                                </MudTimelineItem>
                            }
                        </MudTimeline>
                    </MudItem>
                </MudContainer>
            </MudPaper>
        </MudItem>
    </MudGrid>
}
else
{
    <MudText>Not Found</MudText>
}


@code {
    [CascadingParameter]
    protected ThemeWrapper Theme { get; set; }

    [Parameter]
    public string Name { get; set; }

    public List<FigureMedia> GalleryItems { get; set; } = new();
    public Figure? Figure { get; set; }
    public List<object> BoundGalleryKind { get; set; }
    public int CarouselSelectedIndex { get; set; }
    public FigureMediaKind GalleryKind { get; set; }

    private readonly List<BreadcrumbItem> _breadcrumbs = new()
    {
        new BreadcrumbItem("Home", "/", false, "home"),
        new BreadcrumbItem("Figures", "/Figures")
    };


    private void OnGalleryFilterChange(IEnumerable<object> filters)
    {
        BoundGalleryKind = filters.ToList();
        if(BoundGalleryKind.Any())
            GalleryKind = (FigureMediaKind)BoundGalleryKind.First();
        RefreshGallery();
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        if (_breadcrumbs.Count == 3)
            _breadcrumbs.RemoveAt(2);
        _breadcrumbs.Add(new BreadcrumbItem(Name, $"/Figures/{Name}"));
        Figure = FigureProvider.Figures.FirstOrDefault(figure => figure.Name.Equals(Name));

        if (Figure == null)
            return;

        GalleryKind = Figure.InitialGalleryKindDisplay ?? Figure.Media.MaxBy(media => media.MediaKind)!.MediaKind;
        RefreshGallery();
        StateHasChanged();

        await Task.Delay(200);
        BoundGalleryKind = new List<object> { GalleryKind };
    }

    private void RefreshGallery()
    {
        if(Figure == null)
            return;

        var kind = GalleryKind;
        GalleryItems = Figure.Media.Where(media => media.MediaKind == kind).ToList();
        CarouselSelectedIndex = 0;
    }

    private void OpenGallery(FigureMedia photo)
    {
        GalleryItems.OpenGallery(JS, GalleryItems.IndexOf(photo));
    }   
    
    private void OpenGallery(int index)
    {
        GalleryItems.OpenGallery(JS, index);
    }
}
